
@media all and (max-width: 500px) {
    body {
      background-color: lightblue;
    }
  }

  
  body {
    text-align: center;

  }

  form {
    display: inline-block ;

  }

  .my-div {
    background-image: url("assets/Untitled-1.png");
    width: 200px;
    height: 170px;
}
